 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nerds Who Run is a running group for nerds. Doesn't matter if you're a new nerd or a seasoned nerdy runner we're all here to get our nerd on and run. After our nerd run we may hit up a local pub for a beverage and continue our nerd conversations.</p>
                </div>
                <div class="col-lg-4">
                    <p>Anyone is welcome but we're hoping to foster a group of runners from the technology, science, and engineering industries. So, if you're a nerd looking to get out for a little jog and meet fellow nerds without the awkwardness of events this event is for you!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.meetup.com/Nerds-Who-Run/" class="btn btn-lg btn-outline">
                        <i class="fa fa-calendar-minus-o"></i> Our Meetup
                    </a>
                </div>
            </div>
        </div>
    </section>